services:
  redis:
    image: redis:7
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - ./redis:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      timeout: 5s
      retries: 160
  redisinsight:
    image: redis/redisinsight:3.0
    ports:
      - "5540:5540"
    depends_on:
      redis:
        condition: service_healthy